<section>
<h1 class="text-4xl text-center mb-8">Iniciar sesión</h1>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Ingresa tus datos</legend>

    <label class="label">Email</label>
    <input type="email" class="input" placeholder="Ingresa tu email" />

    <label class="label">Password</label>
  <input type="password" class="input " placeholder="Ingresa tu contraseña" />
<span class="mt-3">No una cuenta? Crea una

    <a class="link" routerLink="/auth/register">acá</a>
  </span>
  <button class="btn btn-neutral mt-4">Login</button>
</fieldset>

</section>
